/* .row {
    display:flex;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.bottom-row div{
    padding: 0.4em 1.2em;
    margin: 1em;
    background-color: rgb(226, 226, 226);
} */
    .timeline div {
        padding: 0.4em 1.2em;
        margin: 1em;
        background-color: rgb(226, 226, 226);
    }
    .timeline h4 {
        font-size: 2em;
    }